<div class="easysnp-header">
    <div class="easysnp-frame">
	    <h1>Vessels</h1>
		<div class="easysnp-tools">
	            <a href="#" title="Add New Vessel">
					<img id="easysnp-tools-add-vessel" class="easysnp-tools-img" />
	            </a>
	    </div>
    </div>
    <table id="vessels" class="easysnp-list">
        <thead>
            <tr>
                <th>Vessel ID</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Lead</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">5100746</a></td>
                <td>
                <div>
                    <a href="#">SMART KING MARITIME Vessel</a>
                </div>
                <div class="easysnp-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="vessel.html">View</a>
    				&nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>19-10-2011</td>
                <td><a href="#">5100746</a></td>
                <td>
                    <select id="Items" class="selectbox" name="Items">
                        <option value="Pending">Pending</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Waiting">Waiting</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
