
<div class="profile-header">
	<div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:100px;padding-top:0px;white-space:nowrap;text-align:right;">
		<a href="#" title="New Vessel">
		<img src="/static/new_vessel.png" width="32" height="32" border="0" />
		</a>&nbsp;
		<a href="vessel_edit.html" title="Edit Vessel">
		<img src="/static/edit.png" width="32" height="32" border="0" />
		</a>&nbsp;
		<a href="#" title="Delete Vessel">
		<img src="/static/delete.png" width="32" height="32" border="0" />
		</a>
	</div>

<table id="vessel" class="sb-item">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span><strong>ID:</strong></span>
			<td><span>5100746</span></td>
		</tr>
		<tr>
			<td><span><strong>Description:</strong></span>
			<td><span>Call MART KING MARITIME Vessel</span></td>
		</tr>
		<tr>
			<td><span><strong>Creation Date:</strong></span>
			<td><span>19-10-2011</span></td>
		</tr>
		<tr>
			<td><span><strong>Lead:</strong></span>
			<td><a href="#">5100746</a></td>
		</tr>
		<tr>
			<td><span><strong>Status:</strong></span>		
			<td>
				<select id="Items" class="selectbox" name="Items">
					<option class="/search?trk=advsrch" value="Pending" data-li-search-action="/search/fpsearch">Pending</option>
					<option value="In Progress" data-li-search-action="/signal/">In Progress</option>
					<option class="/jobs?search=&trk=hb_advjs" value="Waiting" data-li-search-action="/jsearch">Waiting</option>
					<option value="Completed" data-li-search-action="/csearch/results">Completed</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>
<br>
</div>
