<div class="easysnp-header">
	<div class="easysnp-tools">
		<a href="#" title="Save Lead">
			<img id="easysnp-tools-save" class="easysnp-tools-img" />
		</a>
		<a href="#" title="Cancel" >
			<img id="easysnp-tools-delete" class="easysnp-tools-img" />
		</a>
	</div>

	<table id="lead" class="easysnp-item">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span><strong>ID:</strong></span>
				<td><span>5100746</span></td>
			</tr>
			<tr>
				<td><span><strong>Description:</strong></span>
				<td><input id="input-box" type="text" autocomplete="off" value="MART KING MARITIME"></td>
			</tr>
			<tr>
				<td><span><strong>Creation Date:</strong></span>
				<td>
				<!--
				<input type="Text" id="demo1" text="19-10-2011" maxlength="25" size="25"><a href="javascript:NewCal('demo1','ddmmmyyyy',true,24)"><img src="images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
				-->
				<span>19-10-2011</span>
				</td>
			</tr>
			<tr>
				<td><span><strong>Status:</strong></span>
				<td>
						<select id="Items" class="selectbox" name="Items">
							<option class="/search?trk=advsrch" value="Pending" data-li-search-action="/search/fpsearch">Pending</option>
							<option value="In Progress" data-li-search-action="/signal/">In Progress</option>
							<option class="/jobs?search=&trk=hb_advjs" value="Waiting" data-li-search-action="/jsearch">Waiting</option>
							<option value="Completed" data-li-search-action="/csearch/results">Completed</option>
						</select>
				</td>
			</tr>
			<tr>
				<td><span><strong>Vessel:</strong></span>
				<td><a href="#">AAA MARITIME INC.</a>
					<input type="submit" value="..." name="search">
				</td>
			</tr>
			<tr>
				<td><span><strong>Inquiry:</strong></span>
				<td><a href="#">ZZZ MARITIME INC.</a>
					<input type="submit" value="..." name="search">
				</td>
			</tr>
		</tbody>
	</table>
	<br>
</div>
