<div class="profile-header">
<div class="sb-header">
	<h1>Leads</h1>
	<div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:100px;padding-top:0px;white-space:nowrap;text-align:right;">
	<a href="#">New
	<img src="/static/add_new_task.gif" alt="Go to W3Schools!" width="32" height="32" border="0" />
	</a>
	</div>
</div>

<table id="mytable" class="sb-list">
	<thead>
		<tr>
			<th>Lead ID</th>
			<th>Description</th>
			<th>Lead Date</th>
			<th>Status</th>
			<th>Vessel</th>
			<th>Inquiry</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="lead.html">5100746</a></td>
			<td><a href="#">SMART KING MARITIME LTD</a></td>
			<td>19-10-2011</td>
			<td>Matching</td>
			<td><a href="#">AAA MARITIME INC.</a></td>
			<td><a href="#">ZZZ MARITIME INC.</a></td>
		</tr>
		<tr>
			<td><a href="lead.html">5100746</a></td>
			<td><a href="#">SMART KING MARITIME LTD</a></td>
			<td>19-10-2011</td>
			<td>Matching</td>
			<td><a href="#">AAA MARITIME INC.</a></td>
			<td><a href="#">ZZZ MARITIME INC.</a></td>
		</tr>
		<tr>
			<td><a href="lead.html">5100746</a></td>
			<td><a href="#">SMART KING MARITIME LTD</a></td>
			<td>19-10-2011</td>
			<td>Matching</td>
			<td><a href="#">AAA MARITIME INC.</a></td>
			<td><a href="#">ZZZ MARITIME INC.</a></td>
		</tr>
	</tbody>
</table>
<br>
</div>
