
<div class="easysnp-header">
	<div class="easysnp-tools">
		<a href="#" title="New Lead">
		<img src="/static/add_lead.png" />
		</a>&nbsp;
		<a href="lead_edit.html" title="Edit Lead">
		<img src="/static/edit.png" />
		</a>&nbsp;
		<a href="#" title="Delete Lead">
		<img src="/static/delete.png" />
		</a>
	</div>

<table id="lead" class="easysnp-item">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span><strong>ID:</strong></span>
			<td><span>5100746</span></td>
		</tr>
		<tr>
			<td><span><strong>Description:</strong></span>
			<td><span>MART KING MARITIME LTD</span></td>
		</tr>
		<tr>
			<td><span><strong>Creation Date:</strong></span>
			<td><span>19-10-2011</span></td>
		</tr>
		<tr>
			<td><span><strong>Status:</strong></span>
			<td><span>Matching</span></td>
		</tr>
		<tr>
			<td><span><strong>Vessel:</strong></span>
			<td><a href="#">AAA MARITIME INC.</a></td>
		</tr>
		<tr>
			<td><span><strong>Inquiry:</strong></span>
			<td><a href="#">ZZZ MARITIME INC.</a></td>
		</tr>
	</tbody>
</table>

	<div class="easysnp-tools">
        <a href="#" title="Add New Task">
		<img src="/static/add_new_task.gif" alt="New Lead" />
		</a>
	</div>

<table id="tasks" class="easysnp-list">
	<thead>
		<tr>
			<th>Task ID</th>
			<th>Description</th>
			<th>Due Date</th>
			<th>Lead</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#">5100746</a></td>
			<td>
			<div>
				<a href="#">Call US immigration for SMART KING MARITIME LTD</a>
			</div>
			<div class="easysnp-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			</td>
			<td>19-10-2011</td>
			<td><a href="#">5100746</a></td>
			<td>
				<select id="Items" class="selectbox" name="Items">
					<option class="/search?trk=advsrch" value="Pending" data-li-search-action="/search/fpsearch">Pending</option>
					<option value="In Progress" data-li-search-action="/signal/">In Progress</option>
					<option class="/jobs?search=&trk=hb_advjs" value="Waiting" data-li-search-action="/jsearch">Waiting</option>
					<option value="Completed" data-li-search-action="/csearch/results">Completed</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><a href="#">5100746</a></td>
			<td>
			<div>
				<a href="#">Call US immigration for SMART KING MARITIME LTD</a>
			</div>
			<div class="easysnp-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			</td>
			<td>19-10-2011</td>
			<td><a href="#">5100746</a></td>
			<td>
				<select id="Items" class="selectbox" name="Items">
					<option class="/search?trk=advsrch" value="Pending" data-li-search-action="/search/fpsearch">Pending</option>
					<option value="In Progress" data-li-search-action="/signal/">In Progress</option>
					<option class="/jobs?search=&trk=hb_advjs" value="Waiting" data-li-search-action="/jsearch">Waiting</option>
					<option value="Completed" data-li-search-action="/csearch/results">Completed</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>


	<div class="easysnp-tools">
        <a href="#" title="Add New Contact">
		<img src="/static/add_contact.png" alt="New Contact" />
		</a>
	</div>

<table id="contacts" class="easysnp-list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Company</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody> 
		<tr>
			<td>
			<a href="#"> John Smith </a>
			</td>
			<td>
			<div>AA MARITIME INC.
			</div>
			<div class="easysnp-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			<td>john.smith@aaminc.com</td>
			<td>+1-202-123-4567</td>
		</tr>
	</tbody>
</table>

	<div class="easysnp-tools">
        <a href="#" title="Add New Note">
		<img src="/static/add_note.jpg" alt="New Lead" />
		</a>
	</div>
<table id="notes" class="easysnp-list">
	<thead>
		<tr>
			<th>Creation Date</th>
			<th>Description</th>
			<th>Attachment</th>
		</tr>
	</thead>
	<tbody> 
		<tr>
			<td>
			19-10-2011
			</td>
			<td>
			<div>Called AA MARITIME INC.
			</div>
			<div class="easysnp-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			<td>N/A</td>
		</tr>
		<tr>
			<td>19-10-2011</td>
			<td>
			<div>Signed MOU with Fred Smith
			</div>
			<div class="easysnp-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			</td>
			<td><a href="www1.eere.energy.gov/industry/pdfs/doe_nam_mou.pdf">MOU attachment</a></td>
		</tr>
	</tbody>
</table>
<br>
</div>
