<div class="profile-header">
    <div class="sb-header">
        <h1>My Leads</h1>
    </div>
    <table id="mytable" class="sb-list">
        <thead>
            <tr>
                <th>Lead ID</th>
                <th>Description</th>
                <th>Lead Date</th>
                <th>Status</th>
                <th>Vessel</th>
                <th>Inquiry</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td><a href="#">5100746</a></td>
                <td><a href="#">SMART KING MARITIME LTD</a></td>
                <td>19-10-2011</td>
                <td>Matching</td>
                <td><a href="#">AAA MARITIME INC.</a></td>
                <td><a href="#">ZZZ MARITIME INC.</a></td>
            </tr>
            <tr>
                    <td><a href="#">5100746</a></td>
                <td><a href="#">SMART KING MARITIME LTD</a></td>
                <td>19-10-2011</td>
                <td>Matching</td>
                <td><a href="#">AAA MARITIME INC.</a></td>
                <td><a href="#">ZZZ MARITIME INC.</a></td>
            </tr>
            <tr>
                    <td><a href="#">5100746</a></td>
                <td><a href="#">SMART KING MARITIME LTD</a></td>
                <td>19-10-2011</td>
                <td>Matching</td>
                <td><a href="#">AAA MARITIME INC.</a></td>
                <td><a href="#">ZZZ MARITIME INC.</a></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
