{% extends "base.html" %}

{% block mainbody %}
<form name="loginform" action="/account/login/" method="post">{% csrf_token %}
    <div class="sb-login-frame">
    <div style="float:left;width:280px;font-size:100%;padding-right:300px;padding-top:0px;white-space:nowrap;text-align:right;"> 
        <h1>
            <span style="margin:50px 100px 50px 100px;font-size:18px;">Welcome Back!</span>
        </h1>
        <br>
        <span style="margin:100px 100px 50px 100px">Please sign into EasySnP with your existing login.</span>
        <br>
    </div>
    <div class="sb-login">

        <h1><span><strong style="font-size:18px;margin:5px 50px">Username</strong></span></h1>
        {{ form.username }}
        <br>
        <br>
        <h1><span><strong style="font-size:18px;margin:5px 50px">Password</strong></span></h1>
        {{ form.password }}
        <br>
        <br>
        <p><b>We still need to handle remember me thingy in http://djangosnippets.org/snippets/1881/</b></p>
        <!--div id="rememberBox">
        <input id="saveEmailEnabled" style="margin:5px 10px 5px 50px" type="checkbox" value="true" tabindex="3" name="saveEmailEnabled">
        <input type="hidden"value="on" name="_saveEmailEnabled">
        <label class="rememberMe" for="saveEmailEnabled">Remember me</label-->
    </div>
    <input style="margin:5px 50px" type="image" src="/static/sign-in.png" name="image" width="150" height="42">
        <div style="padding-top:10px;padding-left:10px;margin:0 50px"> <a href="#">Forgot your password?
            </a>
        </div>
        <div style="padding-top:10px;padding-left:10px;margin:0 50px 10px">
            <a href="#">Free sign-up
            </a>
        </div>
    </div>
</form>
{% endblock  %}
