{% extends "base.html" %}
{% load i18n %}

{% block header %}
    <meta http-equiv="refresh" content="5;url=/index.html">
{% endblock %}

<div class="easysnp-login-frame">
    {% block title %}{% trans 'Password change successful' %}{% endblock %}

    {% block mainbody %}

    <h1>{% trans 'Password change successful' %}</h1>

    <p>{% trans 'Your password was changed.' %}</p>

    <p>{% trans 'You will be redirected to the site in 5 seconds.' %}</p>
    <p>{% trans 'If you are not redirected, please click' %} <a href="/index.html">this link.</a></p>

</div>
{% endblock %}

