
<div class="easysnp-menu">
    <a href="/settings.html">Settings</a> | <a href="/accounts/logout/">Logout</a>
</div>
<br>
<div class="easysnp-bar">
    <div class="easysnp-wrapper">	
        <ul id="list-nav" class="easysnp-tab-list">
            <li class="easysnp-tab"><a href="/index.html"><span>Home</span></a></li>
            <li class="easysnp-tab"><a href="/leads.html">Leads</a></li>
            <li class="easysnp-tab"><a href="/vessels.html">Vessels</a></li>
            <li class="easysnp-tab"><a href="/inquiries.html">Inquiries</a></li>
            <li class="easysnp-tab"><a href="/contacts.html">Contacts</a></li>
            <li class="easysnp-tab"><a href="/tasks.html">Tasks</a></li>
            <li class="easysnp-tab">
                <input class="easysnp-main-search-box" type="text" autocomplete="off" value="" name="keywords" placeholder="Search...">
                <input type="submit" value="Search" name="search">	
            </li>
        </ul>
    </div>
</div> 
