
<div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:150px;padding-top:7px;white-space:nowrap;text-align:right;">
    <a href="settings.html">Settings</a> | <a href="login.html">Logout</a>
</div>
<br>
<div class=bar>
    <div class=wrapper>	
        <ul id="list-nav" class="tabs">
            <li class="tabs"><a href="index.html"><span>Home</span></a></li>
            <li class="tabs"><a href="leads.html">Leads</a></li>
            <li class="tabs"><a href="#">Vessels</a></li>
            <li class="tabs"><a href="#">Inquiries</a></li>
            <li class="tabs"><a href="#">Contacts</a></li>
            <li  class="tabs"><a href="#">Tasks</a></li>
            <li class="tabs">
                <input class="main-search-box" type="text" autocomplete="off" value="" name="keywords" placeholder="Search...">
                <input type="submit" value="Search" name="search">	
            </li>
        </ul>
    </div>
</div> 
