
<div class="easysnp-menu">
    <a href="/settings.html">Settings</a> | <a href="/accounts/logout/">Logout</a>
</div>
<br>
<div class="easysnp-bar">
    <div class="easysnp-wrapper">	
        <ul class="easysnp-tab-list">
            <li class="easysnp-tab"><a href="/index.html"><span>Home</span></a></li>
            <li class="easysnp-tab"><a href="/leads.html"><span>Leads</span></a></li>
            <li class="easysnp-tab"><a href="/vessels.html"><span>Vessels</span></a></li>
            <li class="easysnp-tab"><a href="/inquiries.html"><span>Inquiries</span></a></li>
            <li class="easysnp-tab"><a href="/contacts.html"><span>Contacts</span></a></li>
            <li class="easysnp-tab"><a href="/tasks.html"><span>Tasks</span></a></li>
            <li class="easysnp-tab"><a href="/files.html"><span>Files</span></a></li>
            <li class="easysnp-tab">
                <input class="easysnp-main-search-box" type="text" autocomplete="off" value="" name="keywords" placeholder="Search...">
                <input type="submit" value="Search" name="search">	
            </li>
        </ul>
    </div>
</div> 
