<div class="easysnp-header">
    <div class="easysnp-frame">
        <h1>Contacts</h1>
 		<div class="easysnp-tools">
            <a href="#" title="Add New Contact"><img src="/static/add_contact.png" /></a>
        </div>
    </div>
    <table id="contacts" class="easysnp-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">John Smith</a></td>
                <td>
                <div>
                    <a href="#">AA MARITIME INC.</a>
                </div>
                <div class="easysnp-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="contact.html">View</a>
    				&nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>john.smith@aaminc.com</td>
                <td><a href="#">+1-202-123-4567</a></td>
            </tr>
            <tr>
                <td><a href="#">John Smith</a></td>
                <td>
                <div>
                    <a href="#">AA MARITIME INC.</a>
                </div>
                <div class="easysnp-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="contact.html">View</a>
    				&nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>john.smith@aaminc.com</td>
                <td><a href="#">+1-202-123-4567</a></td>
            </tr>
            <tr>
                <td><a href="#">John Smith</a></td>
                <td>
                <div>
                    <a href="#">AA MARITIME INC.</a>
                </div>
                <div class="easysnp-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="contact.html">View</a>
    				&nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>john.smith@aaminc.com</td>
                <td><a href="#">+1-202-123-4567</a></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
