<div class="profile-header">
    <div class="sb-header">
        <h1>Contacts</h1>
        <div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:100px;padding-top:0px;white-space:nowrap;text-align:right;">
            <a href="#" title="Add New Contact"><img src="/static/add_contact.png" width="32" height="32" border="0" /></a>
        </div>
    </div>
    <table id="mytable" class="sb-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">John Smith</a></td>
                <td>
                <div>
                    <a href="#">AA MARITIME INC.</a>
                </div>
                <div class="sb-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="contact.html">View</a>
    &nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>john.smith@aaminc.com</td>
                <td><a href="#">+1-202-123-4567</a></td>
            </tr>
            <tr>
                <td><a href="#">John Smith</a></td>
                <td>
                <div>
                    <a href="#">AA MARITIME INC.</a>
                </div>
                <div class="sb-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="contact.html">View</a>
    &nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>john.smith@aaminc.com</td>
                <td><a href="#">+1-202-123-4567</a></td>
            </tr>
            <tr>
                <td><a href="#">John Smith</a></td>
                <td>
                <div>
                    <a href="#">AA MARITIME INC.</a>
                </div>
                <div class="sb-visible-on-select">
                    <a kind="edit" href="javascript:;">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="contact.html">View</a>
    &nbsp;|&nbsp;
                    <a kind="delete" href="javascript:;">Delete</a>
                </div>
                </td>
                <td>john.smith@aaminc.com</td>
                <td><a href="#">+1-202-123-4567</a></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
