
<div class="easysnp-header">
	<div class="easysnp-tools">
		<a href="#" title="New Contact">
		<img src="/static/add_contact.png" />
		</a>&nbsp;
		<a href="contact_edit.html" title="Edit Contact">
		<img src="/static/edit.png" />
		</a>&nbsp;
		<a href="#" title="Delete Contact">
		<img src="/static/delete.png" />
		</a>
	</div>

<div class="easysnp-frame">
	<h1>Contact</h1>
</div>

<table id="contact" class="easysnp-item">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span><strong>ID:</strong></span>
			<td><span>5100746</span></td>
		</tr>
		<tr>
			<td><span><strong>Name:</strong></span>
			<td><span>John Smith</span></td>
		</tr>
		<tr>
			<td><span><strong>Email:</strong></span>
			<td><span>john.smith@aamc.com</span></td>
		</tr>
		<tr>
			<td><span><strong>Phone:</strong></span>
			<td><span>+1-212-123-4567</span></td>
		</tr>
		<tr>
			<td><span><strong>Mobile:</strong></span>
			<td><span>+1-212-123-4568</span></td>
		</tr>
		<tr>
			<td><span><strong>Fax:</strong></span>
			<td><span>+1-212-123-4569</span></td>
		</tr>
	</tbody>
</table>
<br>
<div class="easysnp-frame">
	<h1>Company</h1>
</div>
<table id="contact" class="easysnp-item">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span><strong>Name:</strong></span>
			<td><span>AA MARITIME INC.</span></td>
		</tr>
		<tr>
			<td><span><strong>Phone #1:</strong></span>
			<td><span>+1-212-123-4567</span></td>
		</tr>
		<tr>
			<td><span><strong>Phone #2:</strong></span>
			<td><span>+1-212-123-4568</span></td>
		</tr>
		<tr>
			<td><span><strong>Fax:</strong></span>
			<td><span>+1-212-123-4569</span></td>
		</tr>		
		<tr>
			<td><span><strong>Street:</strong></span>
			<td><span>11 State St.</span></td>
		</tr>
		<tr>
			<td><span><strong>City:</strong></span>
			<td><span>New York</span></td>
		</tr>
		<tr>
			<td><span><strong>State:</strong></span>
			<td><span>New York</span></td>
		</tr>
		<tr>
			<td><span><strong>Country:</strong></span>
			<td><span>USA</span></td>
		</tr>
		<tr>
			<td><span><strong>Zip Code:</strong></span>
			<td><span>12345</span></td>
		</tr>
	</tbody>
</table>

<br>
</div>
