
<div class="profile-header">
	<div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:100px;padding-top:0px;white-space:nowrap;text-align:right;">
		<a href="lead_edit.html" title="Edit Settings">
		<img src="/static/edit.png" width="32" height="32" border="0" />
		</a>
	</div>

<div class="sb-header">
	<h1>Account</h1>
</div>
<table id="contact" class="sb-item">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span><strong>Company name:</strong></span>
			<td><span>AA MARITIME INC.</span></td>
		</tr>
		<tr>
			<td><span><strong>Phone #1:</strong></span>
			<td><span>+1-212-123-4567</span></td>
		</tr>
		<tr>
			<td><span><strong>Phone #2:</strong></span>
			<td><span>+1-212-123-4568</span></td>
		</tr>
		<tr>
			<td><span><strong>Fax:</strong></span>
			<td><span>+1-212-123-4569</span></td>
		</tr>		
		<tr>
			<td><span><strong>Street:</strong></span>
			<td><span>11 State St.</span></td>
		</tr>
		<tr>
			<td><span><strong>City:</strong></span>
			<td><span>New York</span></td>
		</tr>
		<tr>
			<td><span><strong>State:</strong></span>
			<td><span>New York</span></td>
		</tr>
		<tr>
			<td><span><strong>Country:</strong></span>
			<td><span>USA</span></td>
		</tr>
		<tr>
			<td><span><strong>Zip Code:</strong></span>
			<td><span>12345</span></td>
		</tr>
	</tbody>
</table>


	<div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:100px;padding-top:0px;white-space:nowrap;text-align:right;">
        <a href="#" title="Add New User">
		<img src="/static/add_contact.png" alt="New Contact" width="32" height="32" border="0" />
		</a>
	</div>

<br>
<div class="sb-header">
	<h1>Users</h1>
</div>

<table id="mytable" class="sb-list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Company</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody> 
		<tr>
			<td>
			<a href="#"> John Smith </a>
			</td>
			<td>
			<div>AAA Ship Brokers
			</div>
			<div class="sb-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			<td>john.smith@aaminc.com</td>
			<td>+1-202-123-4567</td>
		</tr>
	</tbody>
</table>

	<div style="float:right;width:280px;word-spacing:6px;font-size:100%;padding-right:100px;padding-top:0px;white-space:nowrap;text-align:right;">
        <a href="#" title="Add New Contact to Mailing-List">
		<img src="/static/add_contact.png" alt="New Contact" width="32" height="32" border="0" />
		</a>
	</div>
<br>
<div class="sb-header">
	<h1>Mailing-List</h1>
</div>

<table id="mytable" class="sb-list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Company</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody> 
		<tr>
			<td>
			<a href="#"> John Smith </a>
			</td>
			<td>
			<div>AAA Ship Brokers
			</div>
			<div class="sb-visible-on-select">
				<a kind="edit" href="javascript:;">Edit</a>
				&nbsp;|&nbsp;
				<a href="#">View</a>
				&nbsp;|&nbsp;
				<a kind="delete" href="javascript:;">Delete</a>
			</div>
			<td>john.smith@aaminc.com</td>
			<td>+1-202-123-4567</td>
		</tr>
	</tbody>
</table>

